/<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reino Animal S.A.</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">


</head>

<body ng-app="miApp">

  <!-- Navegacion -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Bienvenido a Reino Animal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Inicio container -->
  <div class="container" ng-controller="miController">

    <!-- Row de cabecera-->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="imagenes/principal.jpg">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Reino Animal</h1>
        <p>Bienvenido a Reino Animal, nosotros somos una ONG que se dedica al cuidado de animales
          en situacion de calle, no solo dandoles un refugio sino que ademas los alimentamos 
          y los preparamos para ser entregados a una familia con adopcion responsable.</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Carta intermedia -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Si usted quiere colaborar con nuestra causa o informar de un animal
           en situacion de calle por favor ponganse en contacto 
          con nosotros por cualquiera de nuestros medios</p>
      </div>
    </div>

    <!-- Contenido de la Row 1-->
    <div class="row">
        <div class="col-md-7">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Registrar nuevo animal</h2>
                    <!-- Combo box-->
                    <div class="input-group mb-5">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputTipoAnimal">Tipo de animal</label>
                        </div>
                        <select class="custom-select" ng-model="tipo" id="inputTipoAnimal">
                            <option selected>Elija su opcion</option>
                            <option value="Perro">Perro</option>
                            <option value="Gato">Gato</option>
                            <option value="Conejo">Conejo</option>
                        </select>
                    </div>
                    <!-- Comienzan los textbox-->
                    <div class="input-group mb-5">
                        <div class="input-group">
                            <span class="input-group-text" id="Nombre">Nombre</span>
                        </div>
                        <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese nombre">
                    </div>
                    <div class="input-group mb-5">
                        <div class="input-group date">
                            <span class="input-group-text" id="Fecha">Fecha ingreso</span>
                        </div>
                        <input type="date" ng-model="fecha" class="form-control" placeholder="yyyy/mm/dd" />

                    </div>
                    <div class="input-group mb-5">
                        <div class="input-group">
                            <span class="input-group-text" id="Edad">Edad</span>
                        </div>
                        <input type="number" ng-model="age" class="form-control" placeholder="Ingrese edad aproximada">
                        <div class="input-group-append">
                            <span class="input-group-text">A&ntilde;os</span>
                        </div>
                    </div>

                    <div class="input-group mb-5">
                        <div class="input-group">
                            <span class="input-group-text">Nro de Jaula</span>
                        </div>
                        <input type="number" ng-model="numJaula" class="form-control" placeholder="Ingrese n&uacute;mero de jaula">
                    </div>

                    <div class="input-group mb-5">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <span class="input-group-text">En adopci&oacute;n </span>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" autocomplete="off" checked> Si
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" autocomplete="off"> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-md" ng-click="agregar()">Registrar</a>
                </div>
            </div>
            <!-- Fin primera columna-->
        </div>

            <div class="col-md-5">
                <img class="img-fluid" src="imagenes/perro.jpg" />
            </div>
        </div> <!--Fin primera row-->

      <!-- /new row -->
      <div class="row">
          <div class="col-xl-12">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Tipo</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Fecha de ingreso</th>
                          <th scope="col">Edad</th>
                          <th scope="col">Num de Jaula</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="animal in animales">
                          <th scope="row">{{animal.type}}</th>
                          <td>{{animal.name}}</td>
                          <td>{{animal.date}}</td>
                          <td>{{animal.edad}}</td>
                          <td>{{animal.jaula}}</td>
                      </tr>

                  </tbody>
              </table>
          </div> <!--Fin columna-->
        </div> <!--Fin row 2-->
    </div> <!--Fin container -->

  <!-- Pie de pagina -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Derechos reservados &copy; Ali Correa</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--Scripts de angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="vendor/js/miAngular.js"></script>

</body>

</html>
